<%- include('header'); -%>

    <% if(currentUser) { %>
      <p><%= currentUser.first_name %> kk</p>
      <h1><%= title %></h1>
      <p>Welcome to <%= title %>, <%= currentUser.first_name %></p>
      <a href="/log-out">LOG OUT</a>
    <% } else { %>
      <a href="/login">LOG IN HERE!</a>
    <% } %>
  
  <%  Object.keys(messages).forEach(message => { %>
    <p><%= messages[message].title %></p>
    <p><%= messages[message].text %></p>
    <p><%= messages[message].author.first_name %></p>
  <% }); %>

<%- include('footer'); -%>