<%- include('header'); -%>
      <section class="h-100 h-custom" >
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-8 col-xl-6">
              <div class="card rounded-3">
                <div class="card-body p-4 p-md-5">
                <h3 class="mb-4 pb-2 pb-md-0 mb-md-3 px-md-2 label" >¡Postea un mensaje!</h3>
                <form class="px-md-2" method="POST" action="">
                  
                  <div class="form-outline mb-4">
                    <label class="form-label label" for="title">Titulo</label>
                    <input type="text" name="title" id="email" class="form-control" value="<%= typeof message==="undefined"? '': message.title %>" required minlength="2"/>
                    <% if(typeof errors!=="undefined"){ %>
                      <% if(typeof errors.title!=="undefined"){ %>
                        <div class="form-error-msg">
                          <%= errors.title.msg %>
                        </div>
                      <% }%>
                    <% }%>
                  </div>
                  
                  <div class="form-outline mb-4">
                    <label class="form-label label" for="text">Texto</label>
                    <input type="text" name="text" id="text" class="form-control" value="<%= typeof message==="undefined"? '': message.text %>" required minlength="2" />
                    <% if(typeof errors!=="undefined"){ %>
                      <% if(typeof errors.text!=="undefined"){ %>
                        <div class="form-error-msg">
                          <%= errors.text.msg %>
                        </div>
                      <% }%>
                    <% }%>
                  </div>
                  
                  <button type="submit" class="btn btn-success btn-lg mb-1">Postear</button>
                    
                  </form>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
<%- include('footer'); -%>