<%- include('header'); -%>
    <section class="h-100 h-custom" >
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-lg-8 col-xl-6">
            <div class="card rounded-3">
              <div class="card-body p-4 p-md-5">
                <h3 class="mb-4 pb-2 pb-md-0 mb-md-3 px-md-2 label">Informacion de registro</h3>
                <div class="px-md-2 mb-3 smaller-font">¿Ya tenes una cuenta? <a href="/login">¡Inicia sesion!</a></div>
                <form class="px-md-2" method="POST" action="">
    
                  <div class="form-outline mb-4">
                    <label class="form-label label" for="first_name">Nombre</label>
                    <input type="text" name="first_name" id="first_name" class="form-control" value="<%= typeof user==="undefined"? '': user.first_name %>" required minlength="2"/>
                    <% if(typeof errors!=="undefined"){ %>
                      <% if(typeof errors.first_name!=="undefined"){ %>
                        <div class="form-error-msg">
                          <%= errors.first_name.msg %>
                        </div>
                      <% }%>
                    <% }%>
                  </div>

                  <div class="form-outline mb-4">
                    <label class="form-label label" for="last_name">Apellido</label>
                    <input type="text" name="last_name" id="last_name" class="form-control" value="<%= typeof user==="undefined"? '': user.last_name %>" required minlength="2" />
                    <% if(typeof errors!=="undefined"){ %>
                      <% if(typeof errors.last_name!=="undefined"){ %>
                        <div class="form-error-msg">
                          <%= errors.last_name.msg %>
                        </div>
                      <% }%>
                    <% }%>
                  </div>
                  
                  <div class="form-outline mb-4">
                    <label class="form-label label" for="username">Email</label>
                    <input type="email" name="email" id="email" class="form-control" value="<%= typeof user==="undefined"? '': user.email %>" required/>
                    <% if(typeof errors!=="undefined"){ %>
                      <% if(typeof errors.email!=="undefined"){ %>
                        <div class="form-error-msg">
                          <%= errors.email.msg %>
                        </div>
                      <% }%>
                    <% }%>
                  </div>
                    
                  <div class="form-outline mb-4">
                    <label class="form-label label" for="password">Contraseña</label>
                    <input type="password" name="password" id="password" class="form-control" required minlength="5" />
                    <% if(typeof errors!=="undefined"){ %>
                      <% if(typeof errors.password!=="undefined"){ %>
                        <div class="form-error-msg">
                          <%= errors.password.msg %>
                        </div>
                      <% }%>
                    <% }%>
                  </div>
                  
                  <div class="form-outline mb-4">
                    <label class="form-label label" for="password_confirmation">Confirmar contraseña</label>
                    <input type="password" name="password_confirmation" id="password_confirmation" class="form-control" required minlength="5" />
                    <% if(typeof errors!=="undefined"){ %>
                      <% if(typeof errors.password_confirmation!=="undefined"){ %>
                        <div class="form-error-msg">
                          <%= errors.password_confirmation.msg %>
                        </div>
                      <% }%>
                    <% }%>
                  </div>

                  <button type="submit" class="btn btn-success btn-lg mb-1">Registrarse</button>
    
                </form>
    
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
<%- include('footer'); -%>